h1{
    color: red;
    text-align: center;
    font-size: 3rem;
}

.menu{
    ul{
        list-style: none;
        padding: 0;
        margin: 0;
        text-align: center;

        li{
            font-size: 2rem;
            display: inline-block;
            margin-right: 2rem;
            background-color: aqua;
        }
    }
}

.alert, .warning{
    ul{
        color: red;
        font-style: italic;
        font-size: 2rem;
    }
}

.alert{
    ul{
        >li{
    list-style-type:"😊" ;
}
+p{
    color: green;
}
~a{
    color: yellow;
    text-decoration: none;
    background-color: black;
}
    }
}

